@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	overflow-y: hidden;
	overflow-x: hidden;
}
/*Dado que usamos flexbox utilizamos el atributo 'flex' para el tamaño de columnas*/
.col-1{
	flex:8.3333%;
	max-width: 8.3333%;
}
.col-2{
	flex:16.6666%;
	max-width: 16.6666%;
}
.col-3{
	flex:25%;
	max-width: 25%;
}
.col-4{
	flex:33.3333%;
	max-width: 33.3333%;
}
.col-5{
	flex: 41.6666%;
	max-width: 41.6666%;
}
.col-6{
	flex:50%;
	max-width: 50%;
}
.col-7{
	flex:58.3333%;
	max-width: 58.3333%;
}
.col-8{
	flex:66.6666%;
	max-width: 66.6666%;
}
.col-9{
	flex:75%;
	max-width: 75%;
}
.col-10{
	flex: 83.3333%;
	max-width: 83.3333%;
}
.col-11{
	flex:91.6666%;
	max-width: 91.6666%;
}
.col-12{
	flex: 100%;
	max-width: 100%;
}

/* ====== FA ICONS ====== */

.fa-user{
	padding-right: 5px;
}
.fa-lock{
	padding-right: 5px; 
}

/* ====== BACKGROUND ======*/
.login-header{
	background-image: url('../images/login-background.jpg');
	background-size: cover;
	height: 85vh;
	opacity: 0.65;
	top: 0;
	left: 0;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ====== CONTENT CENTER ====== */
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF;
	max-height: 75vh;
	border-radius: 10px;
	padding-top: 16px; 
	position: relative;
}
.welcome{
	text-align: center;
	background-color: #FFF;
	border-right: 1px solid  #bfbfbf;
	padding-right: 40px;
	padding-left: 40px;
	position: relative;
	z-index: 3;
}
.br-media-query{
	display: none;
}
.welcome-uc3m-text{
	border-bottom: 2px solid #4b4b4b;
	margin-bottom: 10px;
}
.welcome-uc3m-logo{
	width: 40%;
	margin-top: 10px;
	margin-bottom: 80px;
}
.welcome-section-log{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.welcome-login{
	background-color: #000099;
	border-radius: 10px;
	color: #FFF;
	width: 90%;
	margin-bottom: 80px;
	padding: 15px 0;
	position: absolute;
}
.welcome-login:hover{
	box-shadow: -5px 5px #000b2e;
	cursor: pointer;
	border: 2px solid #000;
	z-index: 3;
}
.welcome-register{
	background-color: #000099;
	border-radius: 10px;
	color: #FFF;
	width: 90%;
	margin-top: 80px;
	margin-bottom: 10px;
	padding: 15px 0;
	position: absolute;
}
.welcome-register:hover{
	box-shadow: -5px 5px #000b2e;
	cursor: pointer;
	border: 2px solid #000;
	z-index: 3;
}
.welcome-info{
	margin-top: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 2px solid #4b4b4b;
	text-shadow: 1px 1px #000099;
}
.welcome-info a{
	text-decoration: none;
	color: #000;
}
.welcome{
	text-align: center;
	padding: 12px;
	border-right: 1px solid  #bfbfbf;
	padding-right: 40px;
	padding-left: 40px;
	position: relative;
}
.welcome-uc3m-text{
	border-bottom: 2px solid #4b4b4b;
	margin-bottom: 20px;
}
.welcome-uc3m-logo{
	width: 40%;
	margin-top: 30px;
	margin-bottom: 100px;
}
.welcome-section-log{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.welcome-login{
	background-color: #000099;
	border-radius: 10px;
	color: #FFF;
	width: 90%;
	margin-bottom: 80px;
	padding: 15px 0;
	position: absolute;
}
.welcome-login:hover{
	box-shadow: -5px 5px #000b2e;
	cursor: pointer;
	border: 2px solid #000;
	z-index: 3;
}
.welcome-register{
	background-color: #000099;
	border-radius: 10px;
	color: #FFF;
	width: 90%;
	margin-top: 80px;
	margin-bottom: 10px;
	padding: 15px 0;
	position: absolute;
}
.welcome-register:hover{
	box-shadow: -5px 5px #000b2e;
	cursor: pointer;
	border: 2px solid #000;
	z-index: 3;
}
.welcome-info{
	margin-top: 70px;
	padding-top: 20px;
	border-top: 2px solid #4b4b4b;
	text-shadow: 1px 1px #000099;
}
.welcome-info a{
	text-decoration: none;
	color: #000;
}
.login-form{
	display: none;
	text-align: center;
	padding: 12px;
	border-right: 1px solid  #bfbfbf;
	padding-right: 40px;
	padding-left: 40px;
}
#inputEmailLogin{
	margin: 4px 0;
	padding: 6px 6px;
	width: 70%;
	box-sizing: border-box;
}
#inputPasswordLog{
	margin: 4px 0;
	padding: 6px 6px;
	width: 70%;
	box-sizing: border-box;
}
.login-form h1{
	border-top: 2px solid #000;
	margin-top: 20px;
	padding-top: 40px;
	margin-bottom: 16px;
}
.register-image{
	background-color: #FFF;
	border-bottom: 2px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	position: sticky;
	top: 0;
}
.register-form::-webkit-scrollbar{
	width: 0;
	background-color: transparent;
}
.register-form{
	background-color: #FFF;
	text-align: center;
	border-right: 1px solid  #bfbfbf;
	height: 60vh;
	padding-left: 40px;
	padding-right: 40px;
	display: none;
	overflow-y: scroll;
	border-radius: 15px;
	padding-bottom: 15px;
}
.register-form input[type=text],[type=password],[type=date]{
	margin: 8px 0;
	padding: 6px 10px;
	width: 50%;
	box-sizing: border-box;
}
.register-form select{
	margin:8px 0;
	width: 25%;
	box-sizing: border-box;
	padding: 5px 5px;
}
.register-form h1{
	margin-top: 10px;
	padding-top: 10px;
	margin-bottom: 16px;
}
.register a{
	text-decoration: none;
	color:  #ff3333;
}
#registration i{
	margin-right: 10px;
}
#registration {
	text-align: left;
}
.registration-buttons{
	text-align: center;
}
input.invalid{
	background-color: #ff4d4d;
}
.button-aceptar{
	padding: 3px;
	background-color:#002699;
	color: white;
	border-radius: 5px;
}
.button-aceptar:hover{
	background-color: #000099;
}
.info-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.info{
	width:inherit;
}
.info h1{
	margin-bottom: 20px;
}
.logo-uc3m{
	width: 30%;
	margin-bottom: 30px;
}
.info-login-text{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.privacy-pol{
	background-color: #ebebeb;
	font-weight: bold;
	padding:10px 0;
	border-radius: 0 0 10px 0;
	position: absolute;
	bottom: 0;
}

/* ====== FOOTER CONTENT ====== */

.login-footer{
	height: 15vh;
	border-top: 10px solid  #000099;
}
.footer-container{
	display: flex;
	flex-direction: column;
}
.footer-links{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	padding-top: 10px;
	font-weight: bold;
}
.footer-links a{
	text-decoration: none;
	padding-right: 20px; 
	padding-left: 15px;
	margin-bottom: 10px;
	border-right: 1px solid #000099;
	color: #000099;
}

/* ====== MEDIA QUERIES ====== */

@media screen and (max-width:1044px){
	.br-media-query{
		display: block;
	}
}


@media screen and (max-width:778px){
	.info-container{
		display: none;
	}
	.welcome{
		border-right: 0px;
	}
	.br-media-query{
		display: none;
	}
}


@media screen and (max-width: 600px){

	.col-sm-12{
		flex:100%;
		max-width: 100%;
	}
	.col-sm-11{
		flex:91.6666%;
		max-width: 91.6666%;
	}
	.col-sm-10{
		flex: 83.3333%;
		max-width: 83.3333%;
	}
	.col-sm-9{
		flex:75%;
		max-width: 75%;
	}
	.col-sm-1{
		flex:8.3333%;
		max-width: 8.3333%;
	}
	.login-header{
		height: 100vh;
	}
	.content{
		flex-direction: column;
		padding-right: 0;
	}
	.login-form{
		border-right: 0px;
		padding-bottom: 20px;
	}
	.info-container{
		display: none;
	}
	.logo-uc3m{
		display: none;
	}
	.login-footer{
		display: none;
	}
	.register-form{
		height: 80vh;

	}
	.register-form input[type=text],[type=password],[type=date]{
		margin: 8px 0;
		padding: 6px 10px;
		width: 100%;
		box-sizing: border-box;
	}
	.register-form select{
		margin:8px 0;
		width: 90%;
		box-sizing: border-box;
		padding: 5px 5px;
	}
}
@media screen and (max-width:375px){
	.col-sm-12{
		flex:100%;
		max-width: 100%;
	}
	.col-sm-10{
		flex: 83.3333%;
		max-width: 83.3333%;
	}
	.col-sm-1{
		flex:8.3333%;
		max-width: 8.3333%;
	}
	.col-sm-11{
		flex:91.6666%;
		max-width: 91.6666%;
	}
	.login-form h1{
		font-size: 20px;
		margin-top: 0;
		padding-top: 10px;
	}
	#registration i{
		margin-left: 0;
	}
	.info-container{
		display: none;
	}
}