/* FONTS IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* --# ALL HTML CONTENT #-- */
*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Roboto Condensed', sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	cursor:pointer;
	color: rgb(0,122,205);
}

/* --# CABECERA #-- */
.nav{
	list-style-type: none;
	padding-top: 0.5rem;
	padding-bottom: 0.1rem;
	position: fixed;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgb(240,240,240);
}
.nav > li {
	padding-left: 2rem;
}

.logo > a > img{
	width: 15rem;
	flex-grow: 1;
}

.titulo{
	font-weight: bold;
	font-size: 1.6rem;
	flex-grow: 3;
	
}
.nav-item{
	padding-right: 1.5rem;
}

/* --# CUERPO #-- */
.main-row{
	padding-top: 7rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex:1;
}

/* --# LEFT COLUMN #-- */
.col-left{
	flex-grow: 1;
	background-color: #f8f8f8;
	border-right: 1px solid #ccc;
}

.col-left > h2{
	padding-left: 1rem;
	padding-top: 1rem;
}
.menu-left{
	list-style-type: none;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;	
}

/* --#CENTER COLUMN #-- */

.col-center{
	flex-grow: 2;
	text-align: center;
	background-color: white;
}


/* --#RIGHT COLUMN #-- */
.col-right{
	text-align: right;
	flox-grow:1;
	background-color: blue;
}





/* --# PIE #-- */
footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 2px solid rgb(100,100,100);
	background-color: rgb(190,190,190);
}
.footer-row{
	display: flex;
	flex-direction: row;
	text-align: center;
	flex-wrap: wrap;
	width: 100%;
	font-size: 1.1rem;
}
.footer-column{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex:1;
}
.uc3m-resources{
	border-right: 1px solid rgb(150,150,150);
}
.uc3m-resources > a{
	font-size: 1rem;
}
.copyright{
	border-right: 1px solid rgb(150,150,150);
}
.copyright > a{
}

.privacy-pol > p{
	font-size: 1rem;
}
/* --# BREAKPOINTS #-- */


/*laptops*/
@media screen and (max-width: 1025px){
	/* CABECERA */
	.espacio-titulo{
		display: none;
	}
	.intro-titulo{
		display: none;
	}
	.titulo{
		font-size: 1.4rem;
	}

	/* FOOTER */
	.copyright > span{
		font-size: 1rem;
	}
}
@media screen and (max-width: 992px){
	.nav-item{
		display: none;
	}
}
/*tablet breakpoint*/
@media screen and (max-width: 769px){

	/* CABECERA */
	.logo > a > img{
		width: 10rem;
	}
	.titulo{
		font-size: 1.2rem;
	}
	.nav-item{
		display: none;
	}
}

/*smartphone breakpoint*/
@media screen and (max-width: 600px){

	/* CABECERA */
	.nav{
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
	}
	.logo{
		flex-direction: row;
	}
	.titulo{
		padding-top: 1rem;
		flex-direction: row;
		padding-bottom: 1rem;
		font-size: 0.9rem;
	}

	/* FOOTER */
	.footer-column{
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
	}
	.uc3m-resources{
		flex-basis: auto;
		margin-right: 0px;
		border-bottom: 1px solid rgb(150,150,150);
		padding-bottom: 1rem;
		order: 1;
	}
	.copyright{
		flex-basis: auto;
		margin-right: 0px;
		padding-top: 1rem;
		order: 3;
	}
	.privacy-pol{
		flex-basis: auto;
		margin-right: 0px;
		border-bottom: 1px solid rgb(150,150,150);
		padding-top: 1rem;
		padding-bottom: 1rem;
		order: 2;
	}
}
