
/*********************
**** FONTS IMPORT ****
*********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/************************
*** BREAKPOINTS COL-X ***
************************/

/*Dado que usamos flexbox utilizamos el atributo 'flex' para el tamaño de columnas*/
.col-1{
	flex:8.3333%;
	max-width: 8.3333%;
}
.col-2{
	flex:16.6666%;
	max-width: 16.6666%;
}
.col-3{
	flex:25%;
	max-width: 25%;
}
.col-4{
	flex:33.3333%;
	max-width: 33.3333%;
}
.col-5{
	flex: 41.6666%;
	max-width: 41.6666%;
}
.col-6{
	flex:50%;
	max-width: 50%;
}
.col-7{
	flex:58.3333%;
	max-width: 58.3333%;
}
.col-8{
	flex:66.6666%;
	max-width: 66.6666%;
}
.col-9{
	flex:75%;
	max-width: 75%;
}
.col-10{
	flex: 83.3333%;
	max-width: 83.3333%;
}
.col-11{
	flex:91.6666%;
	max-width: 91.6666%;
}
.col-12{
	flex: 100%;
	max-width: 100%;
}

/*************************
**** ALL HTML CONTENT ****
*************************/

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Roboto Condensed', sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	cursor:pointer;
	color: rgb(0,122,205);
}

.title-iframe{
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid rgba(20,20,20,0.4);
	font-size: 21px;
	text-align: center;
}

.background-iframe{
	background-color: #f8f8f8;
}
iframe{
	border: 0;
}
/***********************
*** CONTENIDO IFRAME ***
***********************/
.tema-presentacion{
	margin-top: 20px;
	padding-top: 10px;
	background-color: #FFF;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border: 1px solid #ccc;
}
.tema-asignatura{
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.tema-titulo{
	padding-left: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	border-bottom: 1px solid #ccc;
}
.tema-intro{
	display: flex;
	flex-direction: row;
}
.tema-img{
	text-align: center;
}
.tema-intro-txt{
	padding-right: 1rem;
	text-align: justify;
	text-justify: inter-word;
	font-size: 17px;
}
.tema-capitulo{
	display: flex;
	flex-direction: row-reverse;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.tema-capitulo-titulo{
	margin-top: 1rem;
	text-align: center;
	border: 1px solid black;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1.3rem;
	background-color:#FFF;
	box-shadow: 3px 3px #000099;
}
.html-5{
	border-right: 7px solid #E85427;
}
.css-3{
	border-right: 7px solid #2753E7;
}
.js{
	border-right: 7px solid #F2CE27;
}
.tema-capitulo-txt{
	padding-left: 40px;
	padding-right: 40px;
}
.tema-capitulo-desc{
	text-align: justify;
	text-justify:inter-word;
	margin-bottom: 1rem;
	margin-right: 1rem;
}
.tema-video{
	margin-left: 1rem;
	margin-right: 1rem;
	height: 210px;
}

/**************************
** CALIFICACIONES IFRAME **
**************************/
.nota{
	text-align: center;
}

/***********************
**** ALUMNOS IFRAME ****
***********************/

.alumnos{
	display: flex; /* Necesario para alinear la tabla*/
	text-align: left;
	justify-content: left;
	margin-bottom: 1rem;
	border-spacing: 1rem;
}
.alumnos img{
	border-radius: 10rem;
}
.title-iframe{
	background-color:rgba(240,240,240);
	color: black;
}
.studentsTitle{
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #ccc;
}
.downloadGrades{
	padding-top: 5px;
	width: 6%;
}
#exportarExcel{
	font-size: 12px;
	background-color: #555555;
	border-radius: 4px;
	transition-duration: 0.4s;
}
/****************
** FORO IFRAME **
****************/

.section-preguntas{
	display: flex;
	flex-direction: column;
}
.foro-tema{
	display: flex;
	margin-top:1rem;
	margin-bottom: 1rem;
	margin-left: 6%;
	margin-right: 7%;
	border: 2px solid black;
	box-shadow: 6px 6px #808080;
}
.tema-color{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(255,0,0,0.5);
	border-right: 1px solid rgb(255,0,0);
}
.tema-color p{
	writing-mode: vertical-lr;
	font-weight: bold;
	color: white;
}
.tema-fecha{
	transform: rotate(90deg);
}
.tema-contenido{
	padding-left:0.3rem;
	padding-right: 0.3rem;
}
.contenido-titulo {
	border-bottom: 2px solid black;
	padding-top:0.2rem;
	padding-bottom:0.2rem;
}
.tema-respuestas{
	background-color:#333333;
}
.respuestas-img{
	text-align: center;
}
.respuestas-img img{
	padding-top: 15%;
	width: 60%;
}
.respuestas-cantidad{
	text-align: center;
	padding-top: 10%;
	padding-bottom:10%;
	color: white;
	font-weight: bold;
}
.fieldset{
	margin-left:1rem; 
	margin-right:1rem;
	padding: 2rem; 
}
input[type=text] {
	width: 20%;
  	transition: width 0.4s ease-in-out;
  	background-image: url('../images/person.png');
  	background-size: 1.5rem;
  	background-repeat: no-repeat;
  	background-position: 10px 10px;
  	padding: 12px 20px 12px 40px;
  	font-size: 16px;
	background-color:white;
	box-sizing: border-box;
	border-radius: 0.5rem;
}
input[type=text]:focus {
  width: 30%;
}
button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
textarea{
	width: 100%;
	padding: 0.3rem;
	background-color:#d9d9d9;
}



/*****************
**** CABECERA ****
*****************/
.side-menu{
	display: none;
}

.cabecera{
	position: sticky;
	top: 0;
	border-bottom: 5px solid #000099;
	z-index: 5;
	background-color: rgba(240,240,240);
}
.nav{
	list-style-type: none;
	padding-top: 0.5rem;
	padding-bottom: 0.1rem;
	position: sticky;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo-header{
	padding-left: 20px;
}
.col-2 > img{
	width: 100%;
}
.titulo{
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	padding-left: 2rem;
}
.links-nav{
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top:7px;
	padding-bottom:7px;
	background-color: rgba(240,240,240);
}
.links-nav li{
	border-right: 1px solid#000099;
	color: #000099;
	padding-top: 5px;
	text-align: center;
}
.border-right-none{
	border-right: 0 !important;
}
.links-nav a:hover{
	font-weight: bold;
}
.menu-movil{
	display: none;
}
.nav-icon{
	display: none;
}
.nav-icon span{
	font-size:30px;
	cursor:pointer;
}
.user-session{
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	padding-left: 10px;
	border-radius: 4px;
	margin-right: 15px;
}
#user-session-quit:hover {
	color:#000099;
}
.user-session img{
	width: 10%;
	padding-right: 10px;
}
#user-session-name{
	margin-right: 15px;
	padding-right: 15px;
	border-right: 2px solid #808080;
	font-size: 20px;
	text-align: right;
}
/***************
**** CUERPO ****
***************/

.cuerpo{
	background-color: #FFF;
}

.main-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 40px;
}

.column{
	display: flex;
	flex-direction: column;
	flex:1;
	border: 1px solid #ccc;
	border-radius: 5px;
}


/********************
**** LEFT COLUMN ****
********************/

.col-left{
	background-color: #f8f8f8;
	margin-right: 20px;
}

.col-left > h1{
	font-size: 18.72px;
	text-align: left;
	border-bottom: 1px solid #ccc;
	padding-left: 1rem;
	padding-bottom: 10px;
	padding-top: 1rem;
}
.menu-left{
	list-style-type: none;
	padding-top: 5rem;
	padding-bottom: 1rem;
}
.menu-left li {
	padding-top: 15px;
	margin-left: 10px;
	margin-right: 40px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.menu-left a:focus {
	color: #000099;
}
.menu-left li:hover{
	background-color: #e0e0e0;
	cursor:pointer;
}

/**********************
**** CENTER COLUMN ****
**********************/

.col-center{
	text-align: left;
}

/*********************
**** RIGHT COLUMN ****
*********************/

.col-right{
	background-color: #f8f8f8;
	border-left: 1px solid #ccc;
	margin-left: 20px;
}
.col-right > h1{
	font-size: 18.72px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	padding-right: 1rem;
	padding-top: 1rem;
}
.menu-right{
	text-align: center;
	list-style-type: none;
	padding-top: 2rem;
}
.menu-right li{
	border-bottom: 1px solid #ccc;
}
.calendario{
	box-sizing: border-box;
}
.table-calendario{
	display: flex; /* Necesario para alinear la tabla*/
	text-align: center;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-spacing: 0.5rem;
}
.calendario span{
	border-left: 2px solid #000099;
	border-right: 2px solid #000099;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}
.days-number td:hover{
	background-color: rgba(100,100,100,0.3);
	border-radius: 0.3rem;
	cursor: pointer;
}
.weekend{
	color: red;
}
.weekend-other-month{
	color: rgba(255,000,000,0.5);
}
.weekday-other-month{
	color: rgba(0,0,0,0.5);
}
.fecha-entrega{
	background-color: #228b22;
	color: white;
	padding: 0.2rem;
	border-radius: 0.3rem;
}
.tutoria{
	padding-top: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
}
.tutoria span{
	border-left: 2px solid #000099;
	border-right: 2px solid #000099;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}
.tutoria-name{
	font-size: 17px;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.actividad-reciente{
	padding-top: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
}
.actividad-reciente span {
	border-left: 2px solid #000099;
	border-right: 2px solid #000099;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}
.actividad-reciente > div{
	padding-top: 1rem;
}
.proximos-eventos{
	padding-top: 20px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-bottom: 1rem;
}
.proximos-eventos span{
	border-left: 2px solid #000099;
	border-right: 2px solid #000099;
	padding-top: 3px;
	padding-bottom: 3px;
	font-weight: bold;
}
.proximos-eventos div{
	padding-top: 1rem;
}


/***************
**** FOOTER ****
***************/


footer{
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 10px solid #000099;
	background-color: rgba(240,240,240);
}
.footer-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 18px;
	flex-wrap: wrap;
}
.footer-column{
	display: flex;
	flex-direction: column;
}
.uc3m-resources{
	border-right: 1px solid rgb(150,150,150);
	padding-right: 2rem;
}
.uc3m-resources > a{
	font-size: 16px;
}
.copyright{
	border-right: 1px solid rgb(150,150,150);
	padding-left: 2rem;
	padding-right: 2rem;
}
.privacy-pol{
	padding-left: 2rem;
}
.privacy-pol > p{
	font-size: 16px;
}
.creative-commons{
	border-width:0;
}

/********************
**** BREAKPOINTS ****
********************/

/*small laptops*/
@media screen and (max-width: 1025px){
	/* CABECERA */
	.titulo{
		font-size: 19.7px;
	}
	.title-space{
		display: none;
	}
	.border-right-none{
		margin-left: 15px;
	}
	.user-session{
		font-size: 15px;
	}

	/*BODY*/
	/*LEFT COLUMN*/
	.col-left h2{
		font-size: 19px;
	}
	.menu-left{
		font-size: 14px;
	}
	/*CONTENIDO*/
	/*RIGHT COLUMN*/
	.col-right h2{
		font-size: 19px;
	}
	.table-calendario{
		margin-left: 1rem;
	}
	.calendario b{
		font-size: 14px;
	}
	.days{
		font-size: 14px;
	}
	.days-number{
		font-size: 14px;
	}
	.tutoria b{
		font-size: 14px;
	}
	.tutoria-name{
		font-size: 18px;
	}
	.actividad-reciente b{
		font-size: 14px;
	}
	.actividad-reciente div{
		font-size: 14px;
	}

	/* FOOTER */
	.copyright > span{
		font-size: 16px;
	}
}

/*tablet breakpoint*/
@media screen and (max-width: 769px){

/************************
*** BREAKPOINTS COL-X ***
************************/

/*Dado que usamos flexbox utilizamos el atributo 'flex' para el tamaño de columnas*/
.col-s-1{
	flex:8.3333%;
	max-width: 8.3333%;
}
.col-s-2{
	flex:16.6666%;
	max-width: 16.6666%;
}
.col-s-3{
	flex:25%;
	max-width: 25%;
}
.col-s-4{
	flex:33.3333%;
	max-width: 33.3333%;
}
.col-s-5{
	flex: 41.6666%;
	max-width: 41.6666%;
}
.col-s-6{
	flex:50%;
	max-width: 50%;
}
.col-s-7{
	flex:58.3333%;
	max-width: 58.3333%;
}
.col-s-8{
	flex:66.6666%;
	max-width: 66.6666%;
}
.col-s-9{
	flex:75%;
	max-width: 75%;
}
.col-s-10{
	flex: 83.3333%;
	max-width: 83.3333%;
}
.col-s-11{
	flex:91.6666%;
	max-width: 91.6666%;
}
.col-s-12{
	flex: 100%;
	max-width: 100%;
}

	/* CABECERA */

	.titulo{
		display:none;
	}
	.links-nav{
		margin-right: 3rem;
	}
	.links-nav li{
		font-size: 14px;
	}
	/* CUERPO */

	.menu-right {
		font-size: 16px;
	}
	.col-right{
		border-top: 1px solid #ccc;
	}
	.col-right > h2{
		font-size: 16px;
	}
	.col-left > h2{
		font-size: 21px;
		text-align: center;
		padding-right: 1rem;
	}
	.menu-left{
		font-size: 16px;
	}

	.tema-capitulo{
		flex-direction: column;
	}
	.tema-capitulo-desc{
		margin-left: 16px; 
	}
	/* FOOTER */

	.uc3m-resources{
	border-bottom: 1px solid rgb(150,150,150);
	padding-bottom: 1rem;
	}

	.copyright{
		padding-top: 1rem;
		order: 2;
	}
	.privacy-pol{
		border-bottom: 1px solid rgb(150,150,150);
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

}

/*smartphone breakpoint*/
@media screen and (max-width: 600px){

	.col-xs-12{
		flex: 100%;
		max-width: 100%;
	}

	/*IFRAMES - FORO DE LA ASIGNATURA*/

	input[type=text]{
		width: 45%;	
	}
	input[type=text]:focus{
		width: 65%;	
	}

	/* CABECERA */

	.links-nav{
		display: none;
	}
	.nav-icon{
		display: inline-block;
		margin: 1rem;
	}

	.nav{
		flex-wrap: wrap;
	}

	.side-menu{
	  display: block;
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 1;
	  top: 0;
	  left: 0;
	  background-color: rgba(2,2,87, 0.9);
	  overflow-x: hidden;
	  transition: 0.5s;
	  padding-top: 60px;
	}

	.side-menu a {
	  padding: 8px 8px 8px 32px;
	  text-decoration: none;
	  font-size: 25px;
	  color: #FFF;
	  display: block;
	  transition: 0.3s;
	}

	.side-menu a:hover {
	  color: #f1f1f1;
	}

	.side-menu .closebtn {
	  position: absolute;
	  top: 0;
	  right: 25px;
	  font-size: 36px;
	  margin-left: 50px;
	}


	/* CUERPO */

	.col-left{
		display:none;
	}
	.main-row{
		flex-direction: column;
	}
	.col-right{
		border-top: 1px solid #ccc;
	}
}

@media screen and (max-width: 426px){

	.links-nav{
		display: none;
	}
	.col-s-3 img{
		width: 10rem;
	}
	/*FOOTER*/
	.uc3m-resources{
		padding-left: 0;
		padding-right: 0;
	}
	.privacy-pol{
		padding-left: 0;
		padding-right: 0;
	}
	.copyright{
		padding-left: 0;
		padding-right: 0;
	}
}
