
/*********************
**** FONTS IMPORT ****
*********************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/************************
*** BREAKPOINTS COL-X ***
************************/

/*Dado que usamos flexbox utilizamos el atributo 'flex' para el tamaño de columnas*/
.col-1{
	flex:8.3333%;
	max-width: 8.3333%;
}
.col-2{
	flex:16.6666%;
	max-width: 16.6666%;
}
.col-3{
	flex:25%;
	max-width: 25%;
}
.col-4{
	flex:33.3333%;
	max-width: 33.3333%;
}
.col-5{
	flex: 41.6666%;
	max-width: 41.6666%;
}
.col-6{
	flex:50%;
	max-width: 50%;
}
.col-7{
	flex:58.3333%;
	max-width: 58.3333%;
}
.col-8{
	flex:66.6666%;
	max-width: 66.6666%;
}
.col-9{
	flex:75%;
	max-width: 75%;
}
.col-10{
	flex: 83.3333%;
	max-width: 83.3333%;
}
.col-11{
	flex:91.6666%;
	max-width: 91.6666%;
}
.col-12{
	flex: 100%;
	max-width: 100%;
}

/*************************
**** ALL HTML CONTENT ****
*************************/


*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Roboto Condensed', sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	cursor:pointer;
	color: rgb(0,122,205);
}

.title-iframe{
	padding-top: 1rem;
	text-align: center;
}
.contenedor-iframe{
	font-size:1.2rem; 
	background-color: rgba(100,100,100,0.1);
}



/***********************
**** ALUMNOS IFRAME ****
***********************/

.alumnos{
	display: flex; /* Necesario para alinear la tabla*/
	text-align: left;
	justify-content: left;
	margin-bottom: 1rem;
	border-spacing: 1rem;
}
.alumnos img{
	border-radius: 10rem;
}

.title-iframe{
	width:100%;
	background-color: rgba(0,0,0,0.1);
	color: white;
	text-shadow: 1px 1px black;
}


/*****************
**** CABECERA ****
*****************/


.cabecera{
	width: 100%;
	position: sticky;
	top: 0;
}
.nav{
	list-style-type: none;
	padding-top: 0.5rem;
	padding-bottom: 0.1rem;
	position: sticky;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(240,240,240);
}
.col-2 > img{
	width: 100%;
}
.titulo{
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}
.links-nav{
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 2rem;
}
.menu-movil{
	display: none;
}
.nav-icon{
	display: none;
}
/***************
**** CUERPO ****
***************/


.main-row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column{
	display: flex;
	flex-direction: column;	 
	flex:1;
}


/********************
**** LEFT COLUMN ****
********************/

.col-left{
	background-color: #f8f8f8;
	border-right: 1px solid #ccc;
}

.col-left > h2{
	text-align: center;
	padding-left: 1rem;
	padding-bottom: 0;
	padding-top: 1rem;
}
.menu-left{
	list-style-type: none;
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	font-size: 1.2rem;
}
.menu-left > li {
	padding-bottom: 2rem;

}
.menu-left a:focus {
	color: #266fff;
	font-weight: bold;
}


/**********************
**** CENTER COLUMN ****
**********************/

.col-center{
	text-align: left;
	background-color: rgba(#ffffff,0.5);
}

/*********************
**** RIGHT COLUMN ****
*********************/
			
.col-right{
	background-color: #f8f8f8;
	border-left: 1px solid #ccc;
}
.col-right > h2{
	text-align: center;
	padding-right: 1rem;
	padding-top: 1rem;
}
.menu-right{
	text-align: center;
	list-style-type: none;
	padding-right: 1rem;
	padding-top: 1rem;
	font-size: 1.2rem;
}
.table-calendario{
	display: flex; /* Necesario para alinear la tabla*/
	text-align: center;
	justify-content: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-spacing: 0.5rem;
}

.calendario  b{
	color: white;
	text-shadow: 1px 1px black;
	padding-left: 1rem;
	padding-right: 1rem;
	border:1px solid #000;
	border-radius: 4rem;
	background-color: rgba(195,176,145,0.5);
}
.days-number td:hover{
	background-color: rgba(100,100,100,0.3);
	border-radius: 0.3rem;
	cursor: pointer;
}
.weekend{
	color: red;
}
.weekend-other-month{
	color: rgba(255,000,000,0.5);
}
.weekday-other-month{
	color: rgba(0,0,0,0.5);
}
.fecha-entrega{
	background-color: #228b22;
	color: white;
	padding: 0.2rem;
	border-radius: 0.3rem;
}
.tutoria{
	padding-left: 1rem;
}
.tutoria b{
	color: white;
	text-shadow: 1px 1px black;
	padding-left: 1rem;
	padding-right: 1rem;
	border:1px solid #000;
	border-radius: 4rem;
	background-color: rgba(195,176,145,0.5);
}
.tutoria-name{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.actividad-reciente{
	padding-left: 1rem;
	margin-bottom: 1rem;
}
.actividad-reciente b {
	color: white;
	text-shadow: 1px 1px black;
	padding-left: 1rem;
	padding-right: 1rem;
	border:1px solid #000;
	border-radius: 4rem;
	background-color: rgba(195,176,145,0.5);
}
.actividad-reciente > div{
	padding-top: 1rem;
}



/***************
**** FOOTER ****
***************/


footer{
	width: 100%;
	bottom: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-top: 2px solid rgb(100,100,100);
	background-color: rgb(190,190,190);
}
.footer-row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	font-size: 1.1rem;
	flex-wrap: wrap;
}
.footer-column{
	display: flex;
	flex-direction: column;
}
.uc3m-resources{
	border-right: 1px solid rgb(150,150,150);
	padding-right: 2rem;
}
.uc3m-resources > a{
	font-size: 1rem;
}
.copyright{
	border-right: 1px solid rgb(150,150,150);
	padding-left: 2rem;
	padding-right: 2rem;
}
.privacy-pol{
	padding-left: 2rem;
}
.privacy-pol > p{
	font-size: 1rem;
}


/********************
**** BREAKPOINTS ****
********************/

/*laptops*/
@media screen and (max-width: 1400px){

	.titulo{
		font-size: 1.4rem;
	}
}

/*small laptops*/
@media screen and (max-width: 1025px){
	/* CABECERA */
	.titulo{
		font-size: 1.2rem;
	}
	.title-space{
		display: none;
	}
	.links-nav{
		justify-content: space-between;
		text-align: center;
	}
	/*BODY*/
	.col-left h2{
		font-size: 1.2rem;
	}
	.menu-left{
		font-size: 0.9rem;
	}

	.col-right h2{
		font-size: 1.2rem;
	}
	.table-calendario{
		margin-left: 1rem;
	}
	.calendario b{
		font-size: 0.9rem;
	}
	.days{
		font-size: 0.9rem;
	}
	.days-number{
		font-size: 0.9rem;
	}
	.tutoria b{
		font-size: 0.9rem;
	}
	.tutoria-name{
		font-size: 1.1rem;
	}
	.actividad-reciente b{
		font-size: 0.9rem;
	}
	.actividad-reciente div{
		font-size: 0.9rem;
	}

	/* FOOTER */
	.copyright > span{
		font-size: 1rem;
	}
}

/*tablet breakpoint*/
@media screen and (max-width: 769px){

/************************
*** BREAKPOINTS COL-X ***
************************/

/*Dado que usamos flexbox utilizamos el atributo 'flex' para el tamaño de columnas*/
.col-s-1{
	flex:8.3333%;
	max-width: 8.3333%;
}
.col-s-2{
	flex:16.6666%;
	max-width: 16.6666%;
}
.col-s-3{
	flex:25%;
	max-width: 25%;
}
.col-s-4{
	flex:33.3333%;
	max-width: 33.3333%;
}
.col-s-5{
	flex: 41.6666%;
	max-width: 41.6666%;
}
.col-s-6{
	flex:50%;
	max-width: 50%;
}
.col-s-7{
	flex:58.3333%;
	max-width: 58.3333%;
}
.col-s-8{
	flex:66.6666%;
	max-width: 66.6666%;
}
.col-s-9{
	flex:75%;
	max-width: 75%;
}
.col-s-10{
	flex: 83.3333%;
	max-width: 83.3333%;
}
.col-s-11{
	flex:91.6666%;
	max-width: 91.6666%;
}
.col-s-12{
	flex: 100%;
	max-width: 100%;
}

	/* CABECERA */

	.titulo{
		display:none;
	}
	.links-nav{
		margin-right: 3rem;
	}
	.links-nav li{
		font-size: 0.9rem;
	}
	/* CUERPO */

	.menu-right {
		font-size: 1rem;
	}
	.col-right{
		border-top: 1px solid #ccc;
	}
	.col-right > h2{
		font-size: 1rem;
	}
	.col-left > h2{
		font-size: 1.3rem;
		text-align: center;
		padding-right: 1rem;
	}
	.menu-left{
		font-size: 1rem;
	}

	/* FOOTER */

	.uc3m-resources{
	border-bottom: 1px solid rgb(150,150,150);
	padding-bottom: 1rem;
	}

	.copyright{
		padding-top: 1rem;
		order: 2;
	}
	.privacy-pol{
		border-bottom: 1px solid rgb(150,150,150);
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

}

/*smartphone breakpoint*/
@media screen and (max-width: 600px){


.col-xs-12{
	flex: 100%;
	max-width: 100%;
}

	/* CABECERA */

	.links-nav li{
		font-size: 0.8rem; 
	}
	.nav-icon{
		display: inline-block;
		margin: 1rem;
	}

	.nav{
		flex-wrap: wrap;
	}
		/* Menu hamburguesa para la version movil :before = barra de arriba // :after = barra de abajo; */
	.nav-icon:before,.nav-icon:after, .icon{
		 background-color: #1D3BB3;
		  border-radius: 0.53rem;
		  content: '';
		  display: block;
		  height: 0.32rem;
		  margin: 0.4rem 0;
		  transition: all .3s ease-in-out;
	}

	.nav-icon:hover:before{
	  transform: translateY(12px) rotate(135deg); /*Rotamos la barra superior del menu*/
	}

	.nav-icon:hover:after {
	  transform: translateY(-12px) rotate(-135deg); /*Rotamos la barra inferior del menu*/
	}

	.nav-icon:hover .icon {
	  transform: scale(0); /* Hacemos desaparecer la barra del medio de la hamburguesa*/
	}

	.nav-icon:hover + .menu-movil{
		display: block;
	}

	.menu-movil:active{
		display: block;
	}

	.ul-menu-movil{
		list-style-type: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(240,240,240);
	}
	.ul-menu-movil h2{
		padding-bottom: 2rem;
	}
	.ul-menu-movil li{
		padding-bottom: 2rem;
	}


	/* CUERPO */

	.col-left{
		display:none;
	}
	.main-row{
		flex-direction: column;
	}
	.col-right{
		border-top: 1px solid #ccc;
	}
}

@media screen and (max-width: 426px){

	.links-nav{
		display: none;
	}
	.col-s-3 img{
		width: 10rem;
	}
	/*FOOTER*/
	.uc3m-resources{
		padding-left: 0;
		padding-right: 0;
	}
	.privacy-pol{
		padding-left: 0;
		padding-right: 0;
	}
	.copyright{
		padding-left: 0;
		padding-right: 0;
	}
}
